html, body, #root {
  height : 100%;
  box-sizing: border-box;
  margin : 0;
  padding : 3px;
  padding : 0;
}

.inline-icon{
  margin : 0 4px;
  display : 'inline-block';
}

@keyframes shake {
  25%{
    transform : rotate(40deg);
  }
  50% {
    transform : rotate(0);
  }
  75%{
    transform : rotate(-40deg);
  }
}

/* chat styles */
.msg-container{
  position : 'relative';
  padding : 5;
}

.myMsg {
  text-align : left;
}

.hisMsg {
  text-align : right;
}

.msg {
  display : inline-block;
  width : 30%;
  padding : 15px;
  border-radius: 10px;
  color : white;
  font-size : 15px;
  margin : 3px;
  box-shadow: 0 0 3px -1px black;
}

.myMsg .msg {
  background : #2196f3;
}

.hisMsg .msg {
  background : #5e5e5e;
}
